/* AddOSC.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Scroll if the modal goes beyond viewport height */
}

.wrapper {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%; /* Responsive width */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-height: 70vh; /* Set a maximum height based on the viewport height */
  overflow-y: auto; /* Allow scrolling if content is taller than the wrapper */
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content h2 {
  align-self: center;
}

.form label {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

.form input,
.form textarea,
.form select {
  width: 100%;
  padding: 10px;
  border: 2px solid #d9d9d9;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.2s ease;
}

.form textarea {
  resize: vertical; /* Allow vertical resize of the textarea */
  min-height: 100px; /* Set a minimum height for the textarea */
}

.form input:focus,
.form textarea:focus {
  border-color: #555;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.cancel {
  background-color: #a83232; /* dark red */
  color: #FFF;
}

.cancel:hover {
  background-color: #8b2b2b; /* darker red on hover */
}

.save {
  background-color: #3f8ed4; /* blue */
  color: #FFF;
}

.save:hover {
  background-color: #3373b0; /* darker blue on hover */
}
